{
  "presets": ["stage-2", "node6", "react"],
  "plugins": [
    "transform-es2015-destructuring",
    "react-require",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "<utils>": "./src/utils",
          "<styles>": "./src/styles",
          "<components>": "./src/components",
          "<resources>": "./resources",
          "<other>": "./other"
        }
      }
    ],
  ],
}
