{
  "presets": ["stage-2", "node6", "react"],
  "plugins": [
    "transform-es2015-destructuring",
    "react-require",
    [
      "module-alias",
      [
        {"src": "./src/utils", "expose": "<utils>"},
        {"src": "./src/styles", "expose": "<styles>"},
        {"src": "./src/components", "expose": "<components>"},
        {"src": "./resources", "expose": "<resources>"},
        {"src": "./other", "expose": "<other>"},
      ]
    ],
  ],
}
