/* general */
body {
  font-family: 'helvetica neue', Helvetica, Arial;
  font-weight: 300;
  margin-bottom: 100px;
  font-size: 23px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 70px;
  margin-bottom: 70px;
}

a {
  color: #155674;
}

a:hover, a:focus, a:active {
  color: #318CB7;
}

a[class^="icon-"], [class*=" icon-"] {
  text-decoration: none;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 small {
  color: #7c7c7c;
  font-size: 65%;
}

/* parts */
#logo {
}

#logo img {
  max-width: 300px;
  min-height: 300px;
}

.group-of-icons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 80px;
}

.\+space-children>* {
  margin-left: 28px;
  margin-right: 28px;
}

.person-group {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.person img {
  border-radius: 50%;
}

.person a {
  text-decoration: none;
}

.episode .person-group {
  margin-top: 30px;
}


/* utilities */

.\+text-center {
  text-align: center;
}

