/* general */
body {
  font-family: 'helvetica neue', Helvetica, Arial;
  font-weight: 300;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  width: 90%;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

hr.episode-separator {
  width: 80%;
}

a {
  color: #155674;
}

a:hover, a:focus, a:active {
  color: #318CB7;
}

a[class^="icon-"], [class*=" icon-"] {
  text-decoration: none;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 small {
  color: #7c7c7c;
  font-size: 65%;
}

/* parts */
#logo img {
  max-width: 220px;
  width: 90%;
}

.group-of-icons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.person-group, .sponsor-group {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.person img {
  border-radius: 50%;
}

.person a {
  text-decoration: none;
}

.episode .person-group {
  margin-top: 30px;
}


/* utilities */

.\+text-center {
  text-align: center;
}

.\+margin-bottom-large {
  margin-bottom: 40px;
}

/* media queries */

/* phone */
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 20px;
  }

  hr {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  #sub-title {
    font-size: 23px;
  }

  .person img {
    max-width: 120px;
  }

  .group-of-icons {
    font-size: 60px;
  }

  .\+space-children>* {
    margin-left: 10px;
    margin-right: 10px;
  }

}

/* Desktop */
@media only screen and (min-width: 768px) {
  body {
    font-size: 23px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  hr {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  #sub-title {
    font-size: 30px;
  }

  .person img {
    max-width: 180px;
  }

  .group-of-icons {
    font-size: 80px;
  }

  .\+space-children>* {
    margin-left: 28px;
    margin-right: 28px;
  }

}
