/* there's no reasonable way to apply these kinds of styles using Aphrodite */
/* it's technically a different kind of style. It's not a component style */
/* it's a global style, which is not the problem Aphrodite is meant to solve */
body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, :before, :after {box-sizing: border-box;}
strong {font-weight: bold;}

/* See https://github.com/Khan/aphrodite/issues/30 */
.episode-page {
  &__episode-transcript p {
    margin-bottom: 20px
  }
}
