/* there's no reasonable way to apply these kinds of styles using Aphrodite */
/* it's technically a different kind of style. It's not a component style */
/* it's a global style, which is not the problem Aphrodite is meant to solve */
body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :before, :after {box-sizing: border-box;}
strong {font-weight: bold;}

/* See https://github.com/Khan/aphrodite/issues/30 */

.episode-page {
  &__episode-transcript p {
    margin-bottom: 20px
  }
}

.container {
  h1, h2, h3, h4 {
    font-weight: 300;
  }
  a {
    color: #155674;
  }
  a:hover, a:focus, a:active {
    color: #318CB7;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h3 small {
    color: #7c7c7c;
    font-size: 65%;
  }
  hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
  }
  .\+margin-bottom-large {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 23px;
    }
    h3 {
      font-size: 20px;
    }
    hr {
      margin-top: 34px;
      margin-bottom: 34px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 26px;
    }
    hr {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }
}
