body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:before, :after {
  box-sizing:border-box;
}
