body {
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:before, :after {
  box-sizing:border-box;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  box-sizing: content-box;
}

hr.episode-separator {
  width: 80%;
}

hr.person-note-separator {
  width: 90%;
}
