.btn-container {

  display: flex;
  justify-content: center;

  .btn {
    margin: 0px 10px;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width : 515px) {
    flex-direction: column;
    align-items: center;

    .btn {
      margin: 5px 0px;
    }

  }

}

.btn--black:hover .btn__icon {
  fill: #f7f7f7;
}

.btn {

  display: inline-block;
  text-decoration: none;
  padding: 8px;

  &__icon {
    fill: #222;
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }

  /* Size Variations */

  &--show {
    height: 50px;
  }

  &--large {
    width: 145px;
  }

  /* Stylistic (Color, Font, Transition) Variations */

  &--monochrome-gray {
    font-size: 1.2em;
    font-weight: bold;

    border: 5px solid gray;
    background-color: gray;
    color: white;

    transition: 0.4s;

    &:hover {
      background-color: white;
      color: gray;

      .rsvp-icon--btn {
        fill: gray;
      }
    }
  }

  &--monochrome {
    font-size: 1.2em;
    font-weight: bold;

    border: 5px solid black;
    background-color: black;
    color: white;

    transition: 0.4s;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &--black {
    font-size: 1.2em;

    border: 3px solid #222;
    color: #222;

    transition: 0.4s;

    &:hover {
      background-color: #222;
      color: #f7f7f7;
    }
  }

}
