.btn-container {

  display: flex;
  justify-content: center;

  .btn {
    margin: 0px 10px;
  }

  @media only screen and (max-width : 515px) {
    flex-direction: column;
    align-items: center;

    .btn {
      margin: 5px 0px;
    }

  }

}

.btn {

  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;

  /* Size Variations */

  &--show {
    height: 50px;
  }

  &--large {
    width: 230px;
  }

  /* Stylistic (Color, Font, Transition) Variations */

  &--monochrome-gray {
    font-size: 1.2em;
    font-weight: bold;

    border: 5px solid gray;
    background-color: gray;
    color: white;

    transition: 0.4s;

    &:hover {
      background-color: white;
      color: gray;

      .rsvp-icon--btn {
        fill: gray;
      }
    }
  }

  &--monochrome {
    font-size: 1.2em;
    font-weight: bold;

    border: 5px solid black;
    background-color: black;
    color: white;

    transition: 0.4s;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &--black {
    font-size: 1.2em;
    font-weight: bold;

    border: 5px solid black;
    color: black;

    transition: 0.4s;

    &:hover {
      background-color: black;
      color: #F5DD00;
    }
  }

}
