.decor {
  background-color: tomato;
  display: flex;
  width: 100%;

  &__part {
    height: 18px;
    flex-grow: 1;

    &--light {
      background-color: #f3df49;
    }

    &--medium {
      background-color: #e2d046;
    }

    &--dark {
      background-color: #e5cd1b;
    }

  }

}
