.decor {
  background-color: tomato;
  display: flex;
  width: 100%;

  &__part {
    height: 18px;
    flex-grow: 1;

    &--light {
      background-color: #d4be13;
    }

    &--medium {
      background-color: #baa713;
    }

    &--dark {
      background-color: #98880c;
    }

  }

}
