/*
  Calendar

  Displays the date date of the current episode as well
  the two dates flanking it. This gives the user visual
  information regarding the date of the show.
*/

.calendar {
  overflow: hidden;

  @media only screen and (max-width : 1100px) {
    display: none;
  }

  /*
    Date - One date block in the calendar display
  */

  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index: 1;
    position: relative;

    width: 120px;
    height: 120px;

    background-color: #c4c4c4;

    &:hover {

      .calendar__date {

        &__name {
          filter: blur(1px);
          color: gray;
          font-size: 1.3em;
        }

        &__number {
          filter: blur(1px);
          color: gray;
          font-size: 4.5em;
        }

      }

    }

    &__slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      position: absolute;
      box-sizing: border-box;

      padding: 10px;
      width: 120px;
      height: 120px;
      bottom: -120px;
      left: 0;

      background-color: rgba(0, 0, 0, 0.1);

      a {

        svg {
          fill: black;
          width: 40px;
          height: 40px;
          padding-bottom: 10px;
        }

        font-size: 1.3em;
        font-weight: bold;
        text-decoration: none;
        color: black;
      }

      transition: all 0.6s ease;
    }

    /*
      Date Element Children - Name, Number
    */

    &__name {
      font-size: 1.4em;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.25s;
    }

    &__number {
      display: block;
      font-size: 4em;
      font-weight: bold;
      transition: all 0.4s;
    }

    /*
      Date Element Modifiers - Before, Main, After
    */

    &--before {
      transform: perspective(500px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg) scale(.935) scale3d(1, 1, 1) translate(9.4px, 0px);
      opacity: 0.4;
    }

    &--main {

      &:hover {

        .calendar__date {

          &__slide {
            bottom: 0;
          }

          &__name {
            filter: blur(5px);
            color: gray;
            font-size: 1.3em;
          }

          &__number {
            filter: blur(5px);
            color: gray;
            font-size: 4.5em;
          }

        }

      }

    }

    &--after {
      transform: perspective(500px) rotateX(0deg) rotateY(30deg) rotateZ(0deg) scale(.935) scale3d(1, 1, 1) translate(-9.4px, 0px);
      opacity: 0.4;
    }

  }

  /*
    Section - A sub-section of the entire calendar section
  */

  &__section {
    clear: both;

    &--heading {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      color: gray;
      padding: 15px;
    }

    &--month {
      font-size: 1.5em;
    }

    &--time {
      letter-spacing: 0.06em;
      font-size: 1.15em;
    }

    &--dates {
      width: 250px;

      &__container {
        display: flex;
        width: 360px;
        left: -54px;
        position: relative;
        float: left;
      }
    }

  }

}
