.episode-page {
  &__header {
  }
  &__episode-title {
    margin: 30px 0;
  }
  &__episode-date {
  }
  &__episode-description {
    margin: 30px 0;
  }
  &__episode-notes-list {
    list-style: disc;
    padding-left: 40px;
  }
  &__episode-transcript p {
    margin-bottom: 20px
  }
}
