.footer-list {
  text-align: center;
  margin-bottom: 30px;

  @media only screen and (min-width : 490px) {
    margin-bottom: 0;
  }

  @media only screen and (min-width : 900px) {
    text-align: left;
  }

  &__item {
    display: block;
    margin-bottom: 10px;
    line-height: 23px;

    @media only screen and (min-width : 490px) {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__icon {
    fill: white;
    width: 23px;
    height: 23px;
    margin-right: 5px;
  }
}
