.footer-list {
  &__item {
    display: inline-block;
  }
  &__link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  &__icon {
    fill: white;
    width: 23px;
    height: 23px;
    margin-right: 5px;
  }
}
