.social {
  width: 45%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(245,243,231,1) 0%, rgba(232,227,190,1) 100%);
  background-color: #ece8c3;
  box-shadow: 0px 14px 22px -6px rgba(0,0,0,0.38);

  &__container {
    margin-top: 50px;
  }

  &__decor {
    height: 6px;
    background-color: #b9b489;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
  }

  &__title {
    padding-left: 8px;
    font-size: 1.8em;
    font-weight: bold;
  }

  &__actions {

  }

  @media only screen and (max-width : 1100px) {
    width: 90%;
  }

  @media only screen and (max-width : 650px) {
    .social__bottom {
      flex-direction: column;
    }
  }
}

.header {
  position: relative;
  color: #222;

  &__top-half {
    background-color: #EFDD4F;
    text-align: center;
    padding-top: 80px;

    @media only screen and (min-width : 1050px) {
      padding-top: 120px;
    }

    @media only screen and (min-width : 1242px) {
      background-image: url(resources/images/confetti-light.svg), url(resources/images/confetti-light-flipped.svg);
      background-repeat: no-repeat, no-repeat;
      background-size: 420px 250px, 420px 250px;
      background-position: left bottom, right bottom;
    }
  }

  &__bottom-half {
    background-color: #141414;
  }

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;

    @media only screen and (min-width : 1050px) {
      padding-bottom: 30px;
    }
  }

  /* Heading -
     Branding and sponsor information at the top
     of the page. */

  &__logo {
    width: 115px;
    height: 115px;
    fill: #F7F7F7;
    transform: rotate(-25deg);

    @media only screen and (min-width : 301px) {
      position: absolute;
      left: -68px;
      top: -80px;
    }

    @media only screen and (min-width : 519px) {
      left: -98px;
      top: -80px;
    }
  }

  &__heading {
    margin-bottom: 45px;
    display: inline-block;
    position: relative;
  }

  &__title {
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -1px;

    @media only screen and (min-width : 519px) {
      font-size: 4.45em;
    }

    > span {
      font-weight: 300;
    }

  }

  &__subtext {
    font-size: 1.5em;
    color: #8C8015;
    margin-top: 10px;
    line-height: 1.35em;
  }

  &__sponsor-link {
    color: #8C8015;
    text-decoration: underline;

    &:hover {
      color: #61590F;
    }
  }

  /* Hero -
     The page's call-to-action text and buttolns */

  &__hero {
    width: 100%;
    padding-bottom: 20px;
  }

  &__tagline {
    font-weight: bold;
    font-size: 2.4em;
  }

  &__bubble-container {
    width: 100%;
    position: relative;
  }

  /* Changes to the button container that only happen
       within the context of the header itself. */

  &__btn-container {
    margin-top: 22px;
  }

  /* Changes to the speech bubble that only happen
     within the context of the header itself. */

  &__speech-bubble {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;

    @media only screen and (min-width : 650px) {
      left: auto;
      margin: auto;
      top: 25px;
    }

  }

}
