.header {
  background-color: #F5DD00;
  text-align: center;
  overflow: hidden;

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }

  &__heading {
    font-size: 4.3em;
    font-weight: 600;
  }

  &__heading > span {
    font-weight: 300;
  }

  &__subtext {
    font-size: 1.2em;
    font-weight: bold;
    color: #8C8015;
    margin: 0;
  }

  &__sponsor-link {
    color: #8C8015;
    text-decoration: underline;
  }

  &__site-tagline {
    font-size: 2.2em;
    font-weight: bold;
  }

  &__btn {
    font-size: 0.9em;
    font-weight: bold;
    border: 5px #000000 solid;
    padding: 10px 0px;
    display: block;
    width: 240px;
    margin: 12px auto;

    color: black;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      background-color: black;
      color: #F5DD00;
    }

    @media only screen and (min-width : 515px) {
      display: inline-block;
      margin-right: 12px;
    }

  }

  &__speech-bubble {
    /* The "speech-bubble.css" module is meant to be loosely coupled. Styles that are specific to the header's speech bubble (specifically positioning) belong here. */
  }
}
