.header {
  position: relative;

  &__top-half {
    background-color: #F5DD00;
    text-align: center;
  }

  &__bottom-half {
    background-color: black;
  }

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }

  /* Heading -
     Branding and sponsor information at the top
     of the page. */

  &__heading {
    padding: 40px;
  }

  &__title {
    font-size: 4.45em;
    font-weight: 600;

    > span {
      font-weight: 300;
    }

  }

  &__subtext {
    font-size: 1.2em;
    font-weight: bold;
    color: #8C8015;
    margin-top: 10px;
    line-height: 1.35em;
  }

  &__sponsor-link {
    color: #8C8015;
    text-decoration: underline;
  }

  /* Hero -
     The page's call-to-action text and buttolns */

  &__hero {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__tagline {
    font-size: 2.2em;
    font-weight: bold;
  }

  &__bubble-container {
    width: 100%;
    height: 100px;
  }

  /* Changes to the button container that only happen
       within the context of the header itself. */

  &__btn-container {
    margin-top: 22px;
  }

  /* Changes to the speech bubble that only happen
     within the context of the header itself. */

  &__speech-bubble {
    top: 20px;
    float: right;
  }

}
