.latest-show {
  color: #ffffff;

  @media only screen and (min-width : 970px) {
    background-image: url(resources/images/confetti-dark.svg);
    background-repeat: no-repeat;
    background-position: -10px -15px;
  }

  &__container {
    // max-width: 1000px;
    width: 90%;
    padding: 30px 0px;
    margin: 0 auto;
    @media only screen and (min-width : 970px) {
      padding-left: 270px;
    }
  }

  &__heading {
    text-transform: uppercase;
    color: #e2d046;
    font-size: 1.2em;
    letter-spacing: 1.3px;
    margin-bottom: 4px;
  }

  &__link {
    color: #ffffff;
    font-size: 1.9em;
    line-height: 1.25em;
    margin-bottom: 9px;
    display: inline-block;
    font-weight: 400;
    font-family: 'Open Sans';
    text-decoration: none;
    border-bottom: 1px white solid;
  }

  &__date {
    display: block;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 1.3px;
    font-weight: 400;
    font-size: 1.0em;
  }

}
