.latest-show {
  color: #ffffff;

  @media only screen and (min-width : 970px) {
    background-image: url(resources/images/confetti-dark.svg);
    background-repeat: no-repeat;
  }

  &__container {
    // max-width: 1000px;
    width: 90%;
    padding: 30px 0px;
    margin: 0 auto;
    @media only screen and (min-width : 970px) {
      padding-left: 270px;
    }
  }

  &__heading {
    text-transform: uppercase;
    color: #F5DD00;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
  }

  &__link {
    color: #ffffff;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.25em;
    margin-bottom: 15px;
    display: block;
  }

  &__date {
    text-transform: uppercase;
    color: #606060;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 1.1em;
  }

}
