.container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  width: 90%;
  h1, h2, h3, h4 {
    font-weight: 300;
  }
  a {
    color: #155674;
  }
  a:hover, a:focus, a:active {
    color: #318CB7;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h3 small {
    color: #7c7c7c;
    font-size: 65%;
  }
  .person {
    text-align: center;
  }
  .person a {
    text-decoration: none;
  }
  hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
  }
  hr.person-note-separator {
    width: 90%;
  }
  /* utilities */
  .\+margin-bottom-large {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    font-size: 15px;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 23px;
    }
    h3 {
      font-size: 20px;
    }
    hr {
      margin-top: 34px;
      margin-bottom: 34px;
    }
    .person img, .sponsor img {
      max-width: 120px;
    }
    .\+space-children>* {
      margin-left: 10px;
      margin-right: 10px;
    }
    .\+font-smaller {
      font-size: 12px;
    }
    hr.person-note-separator {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    font-size: 23px;
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 26px;
    }
    hr {
      margin-top: 70px;
      margin-bottom: 70px;
    }
    .person img, .sponsor img {
      max-width: 180px;
    }
    .\+space-children>* {
      margin-left: 28px;
      margin-right: 28px;
    }
    .\+font-smaller {
      font-size: 18px;
    }
    hr.person-note-separator {
      margin-top: 36px;
      margin-bottom: 36px;
    }
  }
}
