.panelists-section {
  background-color: #141414;

  @media only screen and (min-width : 1000px) {
    background-image: url(resources/images/confetti-dark.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px 220px;
  }

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__heading {
    @mixin section-heading;
  }

  .person__details__text--twitter,
  .person__details__text--name {
      color: #f8f8f8;
  }

  &__caption {
    color: #f0f0f0;
    line-height: 1.3em;
    @media only screen and (min-width: 730px) {
      text-align: center;
    }
  }

  &__link {
    color: #f0f0f0;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
}
