.panelists-section {
  &__container {
    @mixin container;
  }

  &__heading {
    @mixin section-heading;
  }

  .person__details__text--twitter,
  .person__details__text--name {
      color: #f8f8f8;
  }

  &__caption {
    color: #f0f0f0;
    line-height: 1.3em;
    @media only screen and (min-width: 730px) {
      text-align: center;
    }
  }

  &__link {
    color: #f0f0f0;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
}
