.panelist {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 30px;

  .person__details__text--twitter {
    text-align: left;
    font-style: italic;
  }

  &:hover {
    background-color: #1C1C1C;
    .person__image {
      opacity: .7;
    }
  }

  .person__image {
    border-radius: 50%;
  }
}
