.panelists-section {
  background-color: #141414;

  @media only screen and (min-width : 1400px) {
    background-image: url(resources/images/confetti-dark.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px 220px;
  }

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__heading {
    text-align: center;
    color: #e2d046;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;

    @media only screen and (min-width : 800px) {
      text-align: left;
      font-size: 1.7em;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .person__details__text--twitter,
  .person__details__text--name {
      color: #f8f8f8;
  }

  &__caption {
    color: #f0f0f0;
    text-align: center;
  }

  &__link {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
}
