.panelists-section {
  background-color: #141414;

  @media only screen and (min-width : 1400px) {
    background-image: url(resources/images/confetti-dark.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px 220px;
  }

  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    color: #e2d046;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @media only screen and (min-width : 800px) {
      text-align: left;
      font-size: 1.7em;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
