.person-group {
	margin: 15px 0px;
	display: flex;
	flex-wrap: wrap;
}

.person {
	display: flex;
	flex-direction: row;
	margin: 5px;

	color: #adadad;

	&:hover {

		.person__image {
			clip-path: circle(44% at 50% 50%);
		}
	}

	&__details {
		display: flex;
		flex-direction: column;
		justify-content: center;

		color: #adadad;

		&__text {
			transition: all 0.4s;
			color: black;

			&:visited {
				color: #adadad;
			}

			padding: 5px 10px;
			font-size: 1.00em;
		}
	}

	&__image {
		transition: all 0.4s;
		width: 90px;
		clip-path: circle(50% at 50% 50%);
	}

}