.episodes {
  width: 100%;
  background-color: #e4e4e4;

  &__container {
    margin: 0 auto;
    width: 1000px;
    background-color: #e4e4e4;
  }
}

.rsvp-icon {
  width: 17px;
  height: 17px;
  fill: #848484;

  &--btn {
    width: 24px;
    height: 24px;
    fill: white;
  }
}

.episode {
  margin-bottom: 30px;
  padding: 25px;
  background-color: white;

  &__description {
    font-size: 1.3em;
  }

  &__date {
    font-size: 1.17em;
    margin: 18px 0px;
    color: #848484;

    &__spacer {
      display: inline-block;
      width: 15px;
      height: 10px;
    }

    &__link {
      border: 2px solid #adadad;
      padding: 4px 16px;
      color: #adadad;
      background-color: white;

      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;

      transition: all 0.4s;

      &:visited {
        color: #adadad;
      }

      &:hover {
        color: white;
        background-color: #adadad;
      }

    }
  }

  &__title {

    &__part {
      font-size: 2.1em;
      font-weight: bold;
    }

    &__number {
      color: #adadad;
    }

    &__name {
      padding-left: 10px;
      color: black;
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid #adadad;
      }
    }

  }

}

.title {
  padding: 30px 0px;
  font-size: 2.65em;
  font-weight: bold;
  color: black;
}