.speech-bubble {

  width: 270px;
  padding: 20px;

  background-color: white;
  border-radius: 10px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -22px;
    right: 50px;
    width: 0px;
    border-width: 22px 20px 0;
    border-style: solid;
    border-color: white transparent;
  }
}

.speech-bubble__heading {
  font-weight: bold;
  font-size: 1.65em;
  margin-bottom: 10px;
}
