.speech-bubble {
  background-color: white;
  width: auto;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 14px 55px;
}

.speech-bubble__heading {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
