.speech-bubble {
  position: relative;

  width: 270px;
  padding: 10px;
  
  background-color: white;
  border-radius: 10px;
  text-align: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    right: 50px;
    width: 0px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: white transparent;
  }
}

.speech-bubble__heading {
  font-weight: bold;
  font-size: 1.35em;
  margin-bottom: 10px;
}
