.sponsors-section {
  @media only screen and (min-width: 530px) {
    &__gold-sponsors, &__silver-sponsors {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      >.sponsor {
        width: 50%;
      }
    }
  }
}
