@import 'base.css';
@import 'typography.css';
@import 'header.css';

.container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  width: 90%;
}

/* parts */
#logo img {
  max-width: 220px;
  width: 90%;
}

.group-of-icons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.person-group, .sponsor-group {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.person {
  text-align: center;
}

.person img:not(.square) {
  border-radius: 50%;
}

.person a {
  text-decoration: none;
}

.episode .person-group {
  margin-top: 30px;
}


.twitter-timeline-rendered {
  margin: auto;
  margin-bottom: 25px !important;
  display: block !important;
}

@media only screen and (min-width: 803px) {
  .twitter-feed-container {
    display: flex;
  }
  .twitter-timeline-rendered {
    margin-left: 28px;
    margin-right: 28px;
  }
}

/* utilities */

.\+text-center {
  text-align: center;
}

.\+margin-bottom-large {
  margin-bottom: 40px;
}

.\+display-flex {
  display: flex;
}

/* media queries */

/* phone */
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 20px;
  }

  hr {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  #sub-title {
    font-size: 23px;
  }

  .person img, .sponsor img {
    max-width: 120px;
  }

  .group-of-icons {
    font-size: 60px;
  }

  .\+space-children>* {
    margin-left: 10px;
    margin-right: 10px;
  }

  .\+font-smaller {
    font-size: 12px;
  }

  hr.person-note-separator {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

/* Desktop */
@media only screen and (min-width: 768px) {
  body {
    font-size: 23px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  hr {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  #sub-title {
    font-size: 30px;
  }

  .person img, .sponsor img {
    max-width: 180px;
  }

  .group-of-icons {
    font-size: 80px;
  }

  .\+space-children>* {
    margin-left: 28px;
    margin-right: 28px;
  }


  .\+font-smaller {
    font-size: 18px;
  }

  hr.person-note-separator {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}
